body {
  background-image: url("../images/nebula.jpeg");
  background-position: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h1 {
  top: 20px;
  font-size: 3em;
  font-family: 'Georgia', cursive;
  color: lightgrey;
  text-align: center;
}
td {
  top:15px;
  font-size: 1em;
  font-family: 'Georgia', cursive;
}

tr {
  background-color: lightgrey;
}
.image-planet {
  float: right;
  width: 250px;
  padding: 5px;
  background-color: lightgrey;
  margin: 10px 0 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row2 {
  padding: 100px;
  text-align: center;
  color: red;
}
.row3 {
  padding: 100px;
  text-align: center;
  color: orangered;
}
.row4 {
  padding: 100px;
  text-align: center;
  color: darkorange;
}
.row5 {
  text-align: center;
  color: greenyellow;
}
.row6 {
  text-align: center;
  color: green;
}
.row7 {
  text-align: center;
  color: mediumseagreen;
}
.row8 {
  text-align: center;
  color: darkblue;
}
.row9 {
  text-align: center;
  color: blueviolet;
}
.row10 {
  text-align: center;
  color: violet;
}